.error_page {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;

    &__content {
        background-color: antiquewhite;
        padding: 6%;
        border-radius: 8px;

        p {
            text-align: center;
        }
    }
}
