.title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: black;
    text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1), 0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1), 0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1), 0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1), 0 0 180px rgba(38, 104, 127, 1);

    @media screen and (max-width: 1023px) {
        text-align: center;
    }
}

.cityCard_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;

    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {
        background-color: transparent;
        box-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1), 0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1), 0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1), 0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1), 0 0 180px rgba(38, 104, 127, 1);
        padding: 2% 5% 2% 5%;
        width: 80px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        @media screen and (max-width: 1023px) {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        &_button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-weight: bold;
            font-size: 16px;
            white-space: nowrap;
        }
    }
}
