.weatherCard_container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

    &__content {
        background-color: transparent;
        box-shadow: 0 0 5pt 0.5pt #D3D3D3;
        padding: 2% 8% 2% 8%;
        border-radius: 8px;
        display: flex;
        font-size: 18px;
        flex-direction: column;
        align-items: center;
        color: white;
        min-width: 200px;

        &_nameCity {
            font-weight: 600;
            font-size: 24px;
        }

        &_temp {
            font-size: 40px;
            font-weight: 600;

            &_minMax {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
            }
        }
    }
}

.weatherForestCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: underline;
}

.weatherForestCard_gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . .";
    margin-bottom: 10%;
    place-items: center;

    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        opacity: 0.8;
        box-shadow: 0 0 5pt 0.5pt #D3D3D3;
        padding: 3% 5% 3% 5%;
        width: 90px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;

        @media screen and (max-width: 1023px) {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        p {
            color: white;
        }
    }
}
